<% include ../partials/headAdmin.ejs %>
    <!-- /. NAV SIDE  -->
    <div class="row">
        <div class="col-md-2">
            <% include ../partials/leftBarAdmin.ejs %>
        </div>
        <div class="col-md-10">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <% include ../partials/messages %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="create-user">
                            <button type="button" class="btn add-member btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus"></i>
                                    Create User
                                  </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Create user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/admin/add" method="post" class="form-signup" autocomplete="off">
                                                <input width="25px" type="text" id="user-name" class="form-control" placeholder="First name" name="firstname">
                                                <input width="25px" type="text" id="user-name2" class="form-control" placeholder="Last name" name="lastname">
                                                <input type="email" id="user-email" class="form-control" placeholder="Email address" name="email">
                                                <input type="password" id="user-pass" class="form-control" placeholder="Password must be at least 6 characters" name="password">

                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>
                                                            Submit</button>

                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table list-user table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="name-user">List</th>
                                <th class="name-user">Avatar</th>
                                <th class="name-user">First Name</th>
                                <th class="name-user">Last Name</th>
                                <th class="name-user">Email</th>
                                <th class="name-user">Role</th>
                                <th class="name-user">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% for (var i=0; i < users.length; i++){ %>
                                <tr style="text-align: center;">
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td> <img width="30px" style="border-radius: 50px;" src="<%= users[i].imageUrl == null ? 'https://iupac.org/wp-content/uploads/2018/05/default-avatar.png' : users[i].imageUrl %>" class="img-user" /></td>
                                    <td>
                                        <%= users[i].firstname %>
                                    </td>
                                    <td>
                                        <%= users[i].lastname %>
                                    </td>
                                    <td>
                                        <%= users[i].email %>
                                    </td>
                                    <td>
                                        <%= users[i].role%>
                                    </td>
                                    <td>
                                        <a href="/admin/edit/<%= users[i].id%>" class="btn btn-sm btn-success add-member"><i class="fa fa-edit"></i></a>
                                        <a href="/admin/delete/<%= users[i]._id%> " onclick="return confirm( 'Are you sure to delete this record ?'); " class="btn btn-sm btn-danger add-member"><i class="fa fa-remove"></i></a>
                                        <a href="/admin/ban/<%= users[i]._id%>" onclick="myFunction(this)" class="btn btn-sm btn-warning add-member">
                                            <% if(users[i].isBan == false){ %>
                                                <i class="fa fa-ban"></i>
                                                <%}else{%><i class="fa fa-circle"></i>
                                                    <%}%>
                                        </a>
                                        <a href="/admin/resetPassword/<%= users[i].id%>" class="btn btn-sm btn-primary add-member"><i class="fa fa-cog"></i></a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h5>Information</h5>
                    This is a type of bare admin that means you can customize your own admin using this admin structured template . For More Examples of bootstrap elements or components please visit official bootstrap website <a href="http://getbootstrap.com"
                        target="_blank">getbootstrap.com</a> . And if you want full template please download <a href="http://www.binarytheme.com/bootstrap-free-admin-dashboard-template/" target="_blank">FREE BCORE ADMIN </a>&nbsp;,&nbsp; <a href="http://www.binarytheme.com/free-bootstrap-admin-template-siminta/"
                        target="_blank">FREE SIMINTA ADMIN</a> and <a href="http://binarycart.com/" target="_blank">FREE BINARY ADMIN</a>.

                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->

        <!-- /. PAGE WRAPPER  -->
    </div>
    </div>

    <script>
        function myFunction(x) {
            x.classList.toggle("fa-user-times");
        }
        var count = 1;
    </script>
    </body>

    </html>