<% include partials/header.ejs %> <% include partials/topicSideBar.ejs %>
<div class="col-7">
  <div class="card add-question-card mb-2">
    <div class="card-body">
      <div class="card-subtitle text-muted">
        <img
          src="/images/IMG_20150427_214234.jpg"
          alt="avatar"
          class="add-ques-image"
        />
        <a class="user-name-link" href="#"
          ><%= currentUser.firstname.toUpperCase()%> <%=
          currentUser.lastname.toUpperCase()%></a
        >
      </div>
      <a
        href="#addQuestionModal"
        class="add-question-link"
        data-toggle="modal"
        data-target="#addQuestionModal"
        ><h3 class="modal-title text-muted mt-1">
          <strong>What is your question?</strong>
        </h3></a
      >
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <img
        class="mr-2 topic-image"
        src="/images/question-icon.png"
        alt="Question for you"
      />
      <strong
        >Question for
        <a class="user-name-link" href="#"
          ><%= currentUser.firstname.toUpperCase()%> <%=
          currentUser.lastname.toUpperCase()%></a
        ></strong
      >
    </div>

    <% questions.forEach((question)=>{ if(question.isActive == true){ %>
    <div class="card-body question-card">
      <div class="card-subtitle text-muted">
        <p class="question-topic">
          <% question.topic.forEach((topic)=>{ %> Question added ·
          <a class="number-answer-link" href="/topic/<%= topic._id %>">
            <%= topic.title %> <% }) %>
          </a>
        </p>
      </div>
      <a href="/question/<%= question._id %>">
        <h3 class="question-title mt-1">
          <strong><%= question.title %></strong>
        </h3>
      </a>
      <div class="question-more-info">
        <p>
          <strong>
            <a class="number-answer-link" href="/question/<%= question._id %>">
              <%if(question.answers == null ){%> <%= 0 %> <%}else{%>
              <%=question.answers.length%> <%}%> Answers
            </a>
          </strong>
          · Last followed 10m ago
        </p>
      </div>
      <div class="answer-btn-wrapper">
        <div class="clearfix">
          <a
            data-toggle="collapse"
            href="#<%= question._id %>"
            role="button"
            aria-expanded="false"
            aria-controls="<%= question._id %>"
            class="answer-button"
          >
            <span class="fa fa-edit answer-icon"></span>
            <strong>Answer</strong>
          </a>
          <a
            class="question-more-options"
            href="#"
            role="button"
            id="dropdownMenuOptions<%= question._id %>"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fas fa-ellipsis-h"></i>
          </a>
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuOptions<%= question._id %>"
          >
            <% if(currentUser.id == question.author) { %>
            <a
              class="dropdown-item"
              data-toggle="collapse"
              href="#collapseEditAnswer"
              role="button"
              aria-expanded="false"
              aria-controls="collapseEditAnswer"
              >Edit</a
            >
            <form
              action="/question/<%= question._id %>?_method=DELETE"
              method="post"
            >
              <button class="dropdown-item" type="submit">Delete</button>
            </form>
            <% } %>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </div>
      </div>
      <div class="collapse" id="<%= question._id %>">
        <div class="card w-100 mt-2">
          <div class="card-header">
            <img
              src="/images/IMG_20150427_214234.jpg"
              alt="avatar"
              class="add-ans-image"
            />
            <div class="user-info">
              <a class="user-name-link" href="#"
                ><%= currentUser.firstname.toUpperCase()%> <%=
                currentUser.lastname.toUpperCase()%></a
              >, knows <% question.topic.forEach((topic)=>{ %>
              <a class="ans-topic-link" href="/topic/<%= topic._id %>">
                <%= topic.title %> <% }) %>
              </a>
            </div>
          </div>
          <form
            class="ansForm"
            method="POST"
            action="/answer/<% question.topic.forEach((topic)=>{ %><%= topic._id %><% }) %>/<%= question._id %>/<%= currentUser._id %>"
          >
            <div class="add-ans-card">
              <textarea
                name="content"
                class="ansEditor"
                placeholder="Write your answer"
              ></textarea>
            </div>
            <div class="card-footer text-muted">
              <button type="submit" class="btn btn-primary add-question-button">
                Add Answer
              </button>
              <button
                type="button"
                class="btn btn-secondary cancel-button"
                data-toggle="collapse"
                href="#<%= question._id %>"
                role="button"
                aria-expanded="false"
                aria-controls="<%= question._id %>"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% }}) %> <% answers.forEach((answer)=>{ %> <% }) %>
  </div>
</div>

<% include partials/footer.ejs %>
