<% include partials/header.ejs %>
<div class="col main-profile">
  <% include ./partials/messages %>
  <main>
    <div class="pb-3 border-bottom">
      <div class="row">
        <div class="left col-lg-4">
          <div class="photo-left">
            <div id="avatarUser">
              <img class="photo" src="<%=user.imageUrl%>" />
            </div>

            <div class="user-active"></div>
          </div>
          <span
            style="margin-top: 10px;"
            class="edit"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            >Change Avatar</span
          >

          <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">
                    Change Avatar
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form
                    action="/upload/<%=user._id%>"
                    method="POST"
                    enctype="multipart/form-data"
                    class="form-avatar"
                    name="image"
                    id="image"
                  >
                    <div class="box">
                      <input type="file" id="file-input" />
                    </div>
                    <div class="box-2">
                      <div class="result"></div>
                      <div class=" img-result hide">
                        <!-- result of crop -->
                        <img class="cropped" src="" alt="" />
                      </div>
                    </div>
                    <!-- input file -->
                    <div class="box">
                      <div class="options hide">
                        <label> Width</label>
                        <input
                          type="number"
                          class="img-w"
                          value="300"
                          min="100"
                          max="1200"
                        />
                      </div>
                      <!-- save btn -->
                      <div class="button-option">
                        <button
                          id="userResetAvatar"
                          type="submit"
                          class="button-upload save btn-upload btn-danger "
                        >
                          Drop
                          <i class="fa fa-drop" aria-hidden="true"></i>
                        </button>
                        <button
                          type="submit"
                          class="button-upload up btn-upload btn-danger "
                        >
                          Up/Del
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div style="height: 50px;" class="modal-footer">
                  <button
                    type="button"
                    class="btn-upload btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="head col-lg-4">
          <h1 class="name">
            <%= user.lastname%> <%=user.firstname%>
          </h1>
          <p class="info">
            <%=user.email%>
          </p>
        </div>

        <div class="stats col-lg-3">
          <div class="row">
            <div class="col"></div>
            <div class="stat col-lg-3 col">
              <p class="number-stat">
                <%= user.questions.length%>
              </p>
              <p class="desc-stat">Questions</p>
            </div>
            <div class="stat col-lg-3 col">
              <p class="number-stat">
                <%= user.answer.length%>
              </p>
              <p class="desc-stat">Answers</p>
            </div>
            <div class="stat col-lg-3 col">
              <p class="number-stat">
                <%= user.following.length%>
              </p>
              <p class="desc-stat">Following</p>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
    <!--
        <div class="social">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
          <i class="fa fa-tumblr-square" aria-hidden="true"></i>
        </div>
-->

    <div class=" mt-3">
      <ul
        class="nav nav-pills mb-3 border-bottom profile-infor-area"
        id="pills-tab"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link section-link"
            id="pills-profile-tab"
            data-toggle="pill"
            href="#pills-profile"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="true"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link section-link"
            id="pills-topic-tab"
            data-toggle="pill"
            href="#pills-topic"
            role="tab"
            aria-controls="pills-topic"
            aria-selected="false"
            >Topic</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link section-link"
            id="pills-question-tab"
            data-toggle="pill"
            href="#pills-question"
            role="tab"
            aria-controls="pills-question"
            aria-selected="false"
            >Question</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link section-link"
            id="pills-answer-tab"
            data-toggle="pill"
            href="#pills-answer"
            role="tab"
            aria-controls="pills-answer"
            aria-selected="false"
            >Answer</a
          >
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <div id="userProfile">
            <form
              action="/profile/information/<%= user._id%>"
              method="post"
              class="form-signup"
              autocomplete="off"
            >
              <label class="first-name"><strong>First Name</strong></label>
              <input
                width="25px"
                type="text"
                id="user-name"
                class="form-control"
                placeholder="First name"
                name="firstname"
                value="<%=user.firstname %>"
              />
              <label class="last-name"><strong>Last Name</strong></label>
              <input
                width="25px"
                type="text"
                id="user-name2"
                class="form-control"
                placeholder="Last name"
                name="lastname"
                value="<%=user.lastname %>"
              />
              <label class="email"><strong>Email</strong></label>
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
                name="email"
                value=" <%=user.email %>"
              />

              <div class="form-group option-reset">
                <button type="submit" class="btn user-update ">
                  <i class="fa fa-database"></i> Update
                </button>
                <!-- <a href='#' id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a> -->
              </div>
            </form>
            <button
              type="menu"
              onclick="myFunctionReset()"
              class="btn  btn-link p-0 "
            >
              <i class="fa fa-key"></i> Change password
            </button>
          </div>
          <div id="userResetpassword">
            <form
              action="/profile/reset/<%= user._id%>"
              method="post"
              class="form-signup"
              autocomplete="off"
            >
              <label class="first-name"
                ><strong>Current Password</strong></label
              >
              <input
                width="25px"
                type="password"
                class="form-control"
                placeholder="*********"
                name="password"
              />
              <label class="last-name"><strong>New Password</strong></label>
              <input
                width="25px"
                type="password"
                class="form-control"
                placeholder=""
                name="newPassword"
              />
              <label class="email"><strong>Confirm Password</strong></label>
              <input
                type="password"
                id="user-email"
                class="form-control"
                placeholder=""
                name="newPassword2"
              />

              <div class="form-group mb-0">
                <button type="submit" class="btn user-update ">
                  <i class="fa fa-database"></i>Update
                </button>
                <!-- <a href='#' id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a> -->
              </div>
            </form>
            <button onclick="backToProfile()" class="btn btn-link p-0 mt-1 ">
              <i class="fas fa-chevron-left"></i> Back
            </button>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-topic"
          role="tabpanel"
          aria-labelledby="pills-topic-tab"
        >
          <div class="row">
            <% user.topic.forEach((topic)=>{%>
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3">
                <div class="card-body">
                  <img
                    class="main-topic-img profile-topic-img"
                    src="<%= topic.image %>"
                    alt="<%= topic.title %>"
                  />
                  <div>
                    <a href="/topic/<%=topic._id%>">
                      <p class="m-0">
                        <strong class="ml-2"><%= topic.title %></strong>
                      </p>
                    </a>
                    <% var topicflag = false; if(topic.followers !=
                    null){topic.followers.forEach((follower)=>{ if(follower ==
                    currentUser.id){ topicflag = true; } })} %> <% if(topicflag
                    == false){%> <%}else{%> <%}%>
                    <div class="topicFollowArea" id="<%= topic._id %>">
                      <button
                        id="topicFollowArea<%= topic._id %>"
                        class="main-topic-link btn btn-link"
                        userId="<%= currentUser._id %>"
                        value="<% if(topicflag == false){%>Follow<%}else{%>Unfollow<%}%>"
                      >
                        <i
                          id="topicIcon<%= topic._id %>"
                          class="<% if(topicflag == false){%>fa fa-plus-circle answer-icon<%}else{%>fas fa-times-circle<%} %>"
                        ></i
                        ><strong id="topicLabel<%= topic._id %>"
                          ><% if(topicflag ==
                          false){%>Follow<%}else{%>Unfollow<%}%></strong
                        >
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="pills-question"
          role="tabpanel"
          aria-labelledby="pills-question-tab"
        >
          <div class="card-columns">
            <% user.questions.forEach((question)=>{ %>
            <div class="card">
              <div class="card-body">
                <a href="/question/<%= question._id %>">
                  <p>
                    <strong><%= question.title %></strong>
                  </p>
                </a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="pills-question"
          role="tabpanel"
          aria-labelledby="pills-question-tab"
        ></div>
        <div
          class="tab-pane fade"
          id="pills-answer"
          role="tabpanel"
          aria-labelledby="pills-answer-tab"
        ></div>
      </div>
    </div>
  </main>
</div>
<% include partials/footer.ejs %>
