<% include partials/header.ejs %> <% include partials/topicSideBar.ejs %>
<div class="col-7">
  <div class="card">
    <div class="card-body">
      <img
        class="main-topic-img"
        src="<%= topic.image %>"
        alt="<%= topic.title %>"
      />
      <div class="topic-title-wrap">
        <p class="main-topic-title ml-2"><%= topic.title %></p>
        <span class="ml-2 text-muted">Follow · </span><span class="text-muted" id="topicFollowNumber<%= topic._id %>"><%if(topic.followers == null){%><%= 0 %><%} else {%><%= topic.followers.length %><%}%></span>
        <% var topicflag = false; if(topic.followers !=
        null){topic.followers.forEach((follower)=>{ if(follower ==
        currentUser.id){ topicflag = true; } })} %> <% if(topicflag ==
        false){%><%}else{%><%}%>
        <div class="topicFollowArea" id="<%= topic._id %>">
          <button
            id="topicFollowArea<%= topic._id %>"
            class="main-topic-link btn btn-link"
            userId="<%= currentUser._id %>"
            value="<% if(topicflag == false){%>Follow<%}else{%>Unfollow<%}%>"
          >
            <i id="topicIcon<%= topic._id %>"
              class="<% if(topicflag == false){%>fa fa-plus-circle answer-icon<%}else{%>fas fa-times-circle<%} %>"
            ></i
            ><strong id="topicLabel<%= topic._id %>"
              ><% if(topicflag == false){%>Follow<%}else{%>Unfollow<%}%></strong
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col"></div>
<% include partials/footer.ejs %>
